<div class="filter-container">
    <span>Filter: </span>

    <input type="radio" name="filter" value="all" 
    [(ngModel)]="selectFilteredRadioButton"
    (change)="onFilteredRadioButtonChanged()">
    <span>{{'All (' + all + ')'}}</span>

    <input type="radio" name="filter" value="true"
    [(ngModel)]="selectFilteredRadioButton"
    (change)="onFilteredRadioButtonChanged()">
    <span>{{'In Stock (' + inStock + ')'}}</span>


    <input type="radio" name="filter" value="false" 
    [(ngModel)]="selectFilteredRadioButton"
    (change)="onFilteredRadioButtonChanged()">
    <span>{{'Out of Stock (' + outOfStock + ')'}}</span>


</div>
