<div class="container">
    <!-- output() decorator -->
    <app-cockpit (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <!-- Input() decorator -->

            <!-- ngOnChanges() -->
            <button class="btn btn-primary" (click)="addChanges()">Add Changes</button>

            <!-- onDestroy() -->
            <button class="btn btn-danger" (click)="onDestroy()">Delete</button>


           <app-server-element *ngFor="let serverElement of serverElements"
           [srvElement]="serverElement" [name]="serverElement.name">

           <!-- @contentChild() access this -->
           <p #contentParagraph>
            <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{serverElement.content}}</strong>
            <em *ngIf="serverElement.type === 'blueprint'">{{serverElement.content}}</em>
        </p>



        </app-server-element>
        </div>
    </div>
</div>

<!-- Asignment - 4 -->
<div class="container">
<div class="row">
    <div class="col-xs-12">
        <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
        <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
</div>
</div>

