<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> -->
</head>

<body>
    <div class="ekart-header">
        <div class="ekart-logo">
            <img src="img/red-304573_1280.png" alt="">
            ekart
        </div>
        <div class="ekart--header--nav">
            <!-- top menu -->
            <top-menu></top-menu>
            <div class="ekart--bottom--bar">
                <!-- bottom menu -->
                <bottom-menu></bottom-menu>
                <!-- <div class="ekart--search--bar">
                    <input type="text" class="ekart-search-box" name="" id="" placeholder="Search...">
                    <button class="ekart--search--btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</body>

</html>